@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#nprogress .bar {
    background: #e1dfe0 !important;
    height: 5px !important;
}